/* ESERCIZIO 1 */
    .ex-1-square{
        transition: all 2s;
    }

    .ex-1-square:hover{
        background-color: red;
    }
/* FINE ESERCIZIO 1 */

/* ESERCIZIO 2 */
    .ex-2-square{
        transition: all 2s;
    }

    .ex-2-square:active{
        width: 100%;
    }
/* FINE ESERCIZIO 2 */

/* ESERCIZIO 3 */
    .ex-3-square{
        transition: all 1s;
    }

    .ex-3-square:hover{
        border-radius: 100%;
    }
/* FINE ESERCIZIO 3 */

/* ESERCIZIO 4 */
    .ex-4-square{
        transition: all 1s;
    }

    .ex-4-square:hover{
        opacity: 0;
    }
/* FINE ESERCIZIO 4 */

/* ESERCIZIO 5 */
    .ex-5-square{
        transition: all 1s;
    }

    .ex-5-square:hover{
        transform: scale(2);
    }

    .ex-5-square:active{
        transform: scale(0.5);
    }
/* FINE ESERCIZIO 5 */

/* ESERCIZIO 6 */
/* FINE ESERCIZIO 6 */

/* ESERCIZIO 7 */
/* FINE ESERCIZIO 7 */

/* ESERCIZIO 8 */
/* FINE ESERCIZIO 8 */

/* ESERCIZIO 9 */
/* FINE ESERCIZIO 9 */

/* ESERCIZIO 10 */
/* FINE ESERCIZIO 10 */

/* ESERCIZIO 11 */
/* FINE ESERCIZIO 11 */

/* ESERCIZIO 12 */
/* FINE ESERCIZIO 12 */

/* ESERCIZIO 13 */
/* FINE ESERCIZIO 13 */
